<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_TITLE_DEFAULT}</string>
	<key>CFBundleDisplayName~ipad</key>
	<string>${PRODUCT_TITLE_IPAD}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleID</key>
	<string>com.forwardchess.forwardchess</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon120</string>
		<string>ForwardChess_icon.png</string>
		<string>ForwardChess_icon@2x.png</string>
		<string>ForwardChess_icon-72.png</string>
		<string>ForwardChess_icon-Small.png</string>
		<string>ForwardChess_icon-Small@2x.png</string>
		<string>ForwardChess_icon-Small-50.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>icon76</string>
		<string>icon144</string>
		<string>icon152</string>
		<string>icon120</string>
		<string>ForwardChess_icon.png</string>
		<string>ForwardChess_icon@2x.png</string>
		<string>ForwardChess_icon-72.png</string>
		<string>ForwardChess_icon-Small.png</string>
		<string>ForwardChess_icon-Small@2x.png</string>
		<string>ForwardChess_icon-Small-50.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.forwardchess.forwardchess</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>FuturisDemiBold.ttf</string>
		<string>INFDIAGRAM.ttf</string>
		<string>InformAccents-Flght-Italic.ttf</string>
		<string>InformAccentsFXbld.ttf</string>
		<string>Informator-Times-Bold.ttf</string>
		<string>Informator-Times-Italic.ttf</string>
		<string>Informator-Times-Roman.ttf</string>
		<string>MFuturis-ItalicCyrillic.ttf</string>
		<string>PT-FuturisExtraBoldCyrillicA.ttf</string>
		<string>PT-NewtonBoldItalicCyrillicA.ttf</string>
		<string>linares.ttf</string>
		<string>IS-TT-01.TTF</string>
		<string>DIALAST.TTF</string>
		<string>FIGGB_.TTF</string>
		<string>FIGGI_.TTF</string>
		<string>FIGGN_.TTF</string>
		<string>LEIPFONT.TTF</string>
		<string>LinaresDiagram.TTF</string>
		<string>MERIFONT.TTF</string>
		<string>Semfigb_1.ttf</string>
		<string>Semfigi_1.ttf</string>
		<string>Semfign_0.ttf</string>
		<string>verfig.ttf</string>
		<string>verfigb.ttf</string>
		<string>verfigi.ttf</string>
		<string>ChessInfSerif@Figures-Bold.otf</string>
		<string>ChessInfSerif@Figures-Italic.otf</string>
		<string>ChessInfSerif@Figures-Regular.otf</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
